<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Project</title>
</head>

<body>

    <main class="">
        <div class="header">
            <div class="logo">
            </div>
            <div class="title">NLP Project</div>

        </div>

        <section class="container">
            <div class="userInput">
                <form action="">
                    <input id="userInput" type="text" placeholder="Enter your URL">
                    <button id="submit" type="submit">Submit</button>
                </form>
            </div>

            <div class="output">
                <h1>Output</h1>
                <div id="results">
                    <p id="confidence"></p>
                    <p id="agreement"></p>
                    <p id="irony"></p>
                </div>
            </div>

        </section>

    </main>

    <footer>
        <p>Footer Here</p>
    </footer>

    <script>
        // Check that service workers are supported
        if (process.env.NODE_ENV === 'production' && 'serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>